table{
    /*border-collapse: collapse;*/
    border-spacing:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.3rem;
    color: #444;
}

.custom_tb th,.custom_tb td{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    padding: 0rem;
    text-align: center;
}
.custom_tb th{
    border-top:none;
}
.custom_tb tr {
    height: 0.3rem;
}
.custom_tb td:first-child,.custom_tb th:first-child{
    border-left: none;
}
.custom_tb th:first-child{
    border-radius: 6px 0 0 0;
}
.custom_tb th:last-child{
    border-radius: 0 6px 0 0;
}
.custom_tb tr:last-child td:first-child{
    border-radius: 0 0 0 6px;
}
.custom_tb tr:last-child td:last-child{
    border-radius: 0 0 6px 0;
}
.custom_tb{
    width: 98%;
    margin: 0.2rem auto;
    border:1px solid #000;
    border-radius: 6px;
    box-shadow: 0 1px 1px #ccc;
}